body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.hide{
    display: none;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button:hover{
      background-color: #58D3F7;
  }

  .ingrese{
      font-size: 40px;
  }

  .saludo{
      background-color: #008CBA;
      margin: 5px;
  }

  .saludos{
      font-style: italic;
      color: aliceblue;
      padding: 5px;
      font-size: 30px;
  }

  .msg-espera{
    animation-duration: .8s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
  }

  @keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
   }

  #borrar-prod{
    padding: 5px 10px;
    background-color: white;
    border: 2px solid #008CBA;
    color: #008CBA;
  }

  #borrar-prod:hover{
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
  }

  #medio-pago{
      width: 200px;
  }

  .medpago{
    text-align: center;
    margin-bottom: 20px;
  }

  #medio-pago select{
      display: none;
  }

  p{
      text-align: center;
  }

  #ingreso{
      text-align: center;
  }

  .seleccione{
      font-size: 40px;
  }

  #opciones{
    text-align: center;
    margin-bottom: 20px;
  }

  #compra{
    text-align: center;
  }

  ol {
    padding: 20px;
    width: 700px;
    margin: auto;
    margin-top: 20px;
  }

  ol li {
    background: rgba(148,187,233,1);
    padding: 5px;
  }

  .cuotas{
    text-align: center;
    margin-bottom: 20px;
  }

  .total{
    text-align: center;
  }

  #total-msg{
      font-size: 50px;
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* The Close Button */
#cerrar {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#cerrar:hover,
#cerrar:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
} 